imaginary_time=false
dimension=1
number_of_threads=dynamic
number_of_iterations=7.0E04
save_every_nth_iteration=100
show_stats_every_nth_iteration=100
stop_itime_on_energy_difference=1.0E-7
initial_state_file=in\\lattice_gauss.h5
potential_file=in\\vstatic.h5
output_folder=out_000
status_file=floquet.csv
time_step=0.5
points_x=65536
points_y=512
points_z=128
step_x=1.0
step_y=0.03125
step_z=0.2
beta=0
save_psi=true
save_reduced=false
floquet_potential=true
floquet_omega=0.0
floquet_amplitude=1.0
floquet_amplitude_second_harmonic=0.0
floquet_potential_file=in\\vflo.h5
dynamic_potential=false
dp_correlation_time=10
dp_amplitude=1000
dp_padding_factor_x=10
dp_padding_factor_y=10
dp_padding_factor_z=10
dp_interpolation_steps=10
dp_save_potential=false
dp_potential_output_folder=pot_output
